LANGUAGE 0, 0
ANGBAND MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "E&xit"	104
	END
	POPUP "&Window"
	BEGIN
		POPUP "&Visible..."
		BEGIN
			MENUITEM "Main"	211
			MENUITEM "Mirror"	212
			MENUITEM "Recall"	213
			MENUITEM "Choice"	214
			MENUITEM "Term-4 Window"	215
			MENUITEM "Term-5 Window"	216
			MENUITEM "Term-6 Window"	217
			MENUITEM "Term-7 Window"	218
		END
		POPUP "&Font..."
		BEGIN
			MENUITEM "Main"	201
			MENUITEM "Mirror"	202
			MENUITEM "Recall"	203
			MENUITEM "Choice"	204
			MENUITEM "Term-4 Window"	205
			MENUITEM "Term-5 Window"	206
			MENUITEM "Term-6 Window"	207
			MENUITEM "Term-7 Window"	208
		END
	END
	POPUP "&Option"
	BEGIN
		MENUITEM "&Sounds"	222
		MENUITEM SEPARATOR
		MENUITEM "Save &Preference"	241
	END
END


1 DIALOG 0,0,240,12
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE | DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP
CAPTION "Message"
FONT 14, "System"
BEGIN
	EDITTEXT	101,0,0,240,12,WS_BORDER
END

ANGBAND ICON "angband.ico"

